/* layout Default */
* {
    box-sizing: border-box;
	margin: 0px;
	Padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 1000px;
} 

.container-title {
    display: block;
    text-align: center;
    width: 1000px;
    padding: 50px 0px 20px 0px;
    background-color: blueviolet;
}

/* header */
.page-header {
    display: flex;
    background-color: #f90;
    justify-content: center;
    padding: 5px 0px;
}
   
.main-menu {
    display: flex;
    font-size: 16px;
    color: white;
    gap: 20px;
}

.logo {
    max-width: 100%;
    display: block;
    height: 35px;
}

.logo-sito {
    flex-shrink: 0;
}

.button {
    display: flex;
    gap: 10px;
}

.login {
    font-size: 16px;
    display: block;
    background-color: white;
    color: #f90;
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 999px;
}

.sing-in {
    font-size: 16px;
    display: block;
    background-color: #f90;
    color: white;
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 999px;
}

/* Body sito web */
.page-body {
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.main-title {
    font-size: 22px;
    margin: 0;
}

.sub-title {
    font-size: 16px;
    margin: 0;
}

