* {
    box-sizing: border-box;
	margin: 0px;
	Padding: 0px;
}

ul, ol {
    list-style: none;
}

/* layout */
.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}